<div class="head" *ngIf="currentChannel">
    <span class="channelName">{{ currentChannel.name }}</span>
    <span class="channelDescription">{{ currentChannel.description }}</span>
</div>
<div>

</div>

<div class="threadContainer">
    <div class="thread" *ngFor="let thread of Data.currentThreads$ | async ;index as i">
        <app-message-actions [actionsType]="'threadActions'" [thread]="thread"></app-message-actions>

        <app-message *ngIf="thread.firstMessageID" [thread]="thread" [firstMessageID]="thread.firstMessageID" ></app-message>
        <div class="bottomRow">
            <p>3 Antworten (platzhalter)</p>
            <button (click)="openThread(thread)">Open Thread</button>
        </div>
    </div>
</div>

<app-inputbox [messageType]="'firstMessage'"></app-inputbox>