<div class="head" *ngIf="Data.currentChannel">
    <span class="channelName">{{ Data.currentChannel.name }}</span>
    <span class="channelDescription">{{ Data.currentChannel.description }}</span>
</div>
<div>

</div>

<div #myList class="threadContainer" id="threadContainer" #threadContainer >
    <div class="thread" *ngFor="let thread of Data.currentThreads$ | async; index as i; trackBy:getTrackByCondition; let last = last">
        <app-message-actions *ngIf="!!thread.firstMessageID" [actionsType]="'threadActions'" [thread]="thread"></app-message-actions>

        <app-message *ngIf="!!thread.firstMessageID" [thread]="thread" [parentContainer]="'main'"></app-message>
        <div class="bottomRow">
            <p>{{ thread.answerAmount}} answers</p> 
            <button (click)="openThread(thread)">Open Thread</button>
        </div>
        {{last ? scrollToBottom() : ''}}
    </div>
</div>

<app-inputbox *ngIf="Data.currentChannel" [messageType]="'firstMessage'"></app-inputbox>