@use '../../styles/mixins' as mix; //also imports _variables.scss

:host{
    @include mix.flex(flex-start, center, column);    
    padding-left: mix.$padding-medium;
    position: relative;
    height: calc(100vh - 64px);
    border-right: 1px solid #e0e0e0;
}

app-inputbox{
   /*  position: absolute;
    bottom: 16px; */
}

.head{
    @include mix.flex(flex-start,flex-start, column);  
    padding: mix.$padding-medium 5%;
    width: 100%;
    min-height: 60px;
    border-bottom: 1px solid #e0e0e0;

    .channelName{
        font-weight: bold;
        font-size: 20px;
    }
    .channelDescription{

    }
}

.threadContainer{
    @include mix.flex(flex-start,center, column, 16px);    
    width: 100%;
    flex: 1;
    padding-top: mix.$padding-main;
    padding-bottom: mix.$padding-main;
    overflow-y: auto;
}

.thread{
    position: relative;
    width: 90%;

    &:hover{
        background-color: rgba(106, 104, 104, 0.043);
    }

    &:hover app-message-actions{
        display: unset !important;
    }
}