<div class="head" *ngIf="currentChannel">
    <span class="channelName">{{ currentChannel.name }}</span>
    <span class="channelDescription">{{ currentChannel.description }}</span>
</div>
<div>

</div>

<div class="threadContainer" id="threadContainer" #threadContainer >
    <div class="thread" *ngFor="let thread of Data.currentThreads$ | async; index as i; trackBy:getTrackByCondition">
        <app-message-actions *ngIf="!!thread.firstMessageID" [actionsType]="'threadActions'" [thread]="thread"></app-message-actions>

        <app-message *ngIf="!!thread.firstMessageID" [thread]="thread"></app-message>
        <div class="bottomRow">
            <p>{{ thread.answerAmount}} Antworten</p> 
            <button (click)="openThread(thread)">Open Thread</button>
        </div>
    </div>
</div>

<app-inputbox *ngIf="currentChannel" [messageType]="'firstMessage'"></app-inputbox>