@use "../../styles/mixins" as mix; //also imports _variables.scss

:host {
    @include mix.flex(center, center, column, 4px);
    padding: 8px;
    border-radius: 8px;
    background-color: white;
    z-index: 100;
    width: 100%!important;
}

.userActions {
    @include mix.flex(space-evenly, center, column, 4px);

    button {
        @include mix.flex(space-evenly, center);
        width: 100%;
        border: none;
        background-color: white;
        cursor: pointer;
        color: black;

        // &:hover{
        //     opacity: 0.7;
        // }
    }

    button:last-child {
        &:hover {
            background-color: rgb(255, 129, 129);
            opacity: 1;
            color: white;
        }

        &::after {
            position: absolute;
            top: 0px;
            left: 50%;
            transform: translate(-50%);
            content: "";
            width: 85%;
            height: 1px;
            background-color: lightgrey;
        }
    }
}

.userInfo {
    @include mix.flex(center, center, column);

    span:first-child {
        font-size: 16px;
        color: black;
        line-height: 1.4em !important;
    }

    span:last-child {
        position: relative;
        margin-bottom: 12px;
        font-size: 12px;
        font-style: italic;
        color: black;
        line-height: 1.4em !important;
    }
}
