
    <div class="userInfo">
      <span class="text">CurrentUserName</span>
      <span class="text">CurrentUserEmail</span>
    </div>
    <div class="userActions">
      <button mat-button>
        <mat-icon><span class="material-icons">
          account_circle
          </span></mat-icon>
        Edit Avatar
      </button>
      <button mat-button>
        <mat-icon>edit</mat-icon>
        Edit Profile
      </button>
      <button mat-button>
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </div>
