<h2 mat-dialog-title>Upload avatar picture</h2>

<button
  class="close-btn"
  mat-icon-button
  mat-dialog-close
  title="close without saving"
>
  <mat-icon>close</mat-icon>
</button>
<mat-dialog-content cdkFocusInitial>
    <input type="file" name="avatar" id="avatar" accept=".png,.jpg,.svg" (change)="uploadFile($event)">
    <mat-progress-bar *ngIf="uploadPercent" mode="determinate" [value]="uploadPercent|async"></mat-progress-bar>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    mat-dialog-close
    [disabled]="!downloadURL"
    (click)="saveAvatar()"
  >
    Save
  </button>
</mat-dialog-actions>
