<div class="dirct-msg-container">
  <div class="direct-msg-header" (click)="toggleDirectMsg($event)">
    <mat-icon>{{ directMsgOpen ? "arrow_drop_down" : "arrow_right" }}</mat-icon>
    <h3>Direct Messages</h3>
    <button
      mat-icon-button
      title="Add new chat"
      class="add-btn"
      (click)="openAddDirectMsgDialog($event)"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-nav-list *ngIf="directMsgOpen" class="direct-msg-list">
    <ng-container *ngFor="let directMsg of directMsg | orderBy: 'directMsgName'"
      ><div
        *ngIf="directMsg.directMsgMembers.includes(loggedInUserID)"
        class="direct-msg-list-item"
      >
        <a list-item [routerLink]="['/direct-msg/' + directMsg.directMsgID]">
          {{ directMsg.directMsgName }}
        </a>
        <button mat-icon-button title="More" class="more-btn">
          <mat-icon> more_vert</mat-icon>
        </button>
      </div>
    </ng-container>
  </mat-nav-list>
</div>
