@use '../../styles/mixins' as mix; //also imports _variables.scss

:host{
    @include mix.flex($justify:center);
}

.container{
    width: 600px;
    max-width:100%;
}

.agreement{
    @include mix.flex(center, center);
    font-size: 10px;
    margin-top: 12px;
}



