@use 'mixins' as mix;

/*material icons fonts*/
@import '~material-icons-font/sass/variables';
@import '~material-icons-font/sass/mixins';
$MaterialIcons_FontPath: "~material-icons-font/fonts";
@import '~material-icons-font/sass/main';
@import '~material-icons-font/sass/Regular';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.bg-primary {
  background-color: mix.$primary-color ;
  color: white;
}

.full-width{
  width:100%;
}

.icon{
  @include mix.flex(center, center);
  width: 35px;
  height: 35px;
  border-radius: 2px;
  padding: 2px;
  background-color: #fff;
  cursor: pointer;

  &:hover{
    background-color: rgba(106, 104, 104, 0.1);
  }
}

code{
  color: #e01e5a;
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 2px;
}

pre{
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 5px;
}


 @include mix.scrollbar(rgba(255, 255, 255, 0.107), mix.$primary-hover, mix.$primary-hover);



//  MATERIAL DESIGN

.mat-menu-panel{
  padding: 8px 12px!important;
}

// login-component
mat-card.mat-card.mat-focus-indicator._mat-animation-noopable.ng-star-inserted{
  @media screen and (max-width: 400px){
    margin: 0rem!important;
    height: 100vh;
  }
}