$primary-color:  #075b66; // teal
$primary-color:  #10557b;  // blue
$primary-color:  #3e5d8e;  // lilablua
$primary-hover:#0181ca;
$accent-color:#FFAB40;

$padding-main:16px;
$padding-small: 4px;
$padding-medium: 8px;

