<h2 mat-dialog-title>Add a new chat (direct message)</h2>

<button
  class="close-btn"
  mat-icon-button
  mat-dialog-close
  title="close without saving"
>
  <mat-icon>close</mat-icon>
</button>

<mat-dialog-content>
  <form #addDMForm="ngForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Participants</mat-label>
      <mat-select
        multiple
        [(ngModel)]="dm.directChannelMembers"
        name="userID"
        required
      >
        <ng-container
          *ngFor="let user of Data.users$ | async | orderBy: 'displayName'"
        >
        <!-- if currentUser is registered, all registered users (=users with email) can be selected 
          if currentUser is anonymous, only user himself can be selected -->
          <mat-option
            *ngIf="
              (!Auth.currentUser.currentUser.isAnonymous && !!user.email) ||
              (Auth.currentUser.currentUser.isAnonymous && user.uid == Auth.currentUserId)
            "
            [value]="user.uid"
          >
            {{ user.displayName }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [disabled]="!addDMForm.valid"
    (click)="saveDirectChannel()"
  >
    Save
  </button>
</mat-dialog-actions>
