<h2 mat-dialog-title>Add a new chat (direct message)</h2>

<button
  class="close-btn"
  mat-icon-button
  mat-dialog-close
  title="close without saving"
>
  <mat-icon>close</mat-icon>
</button>

<mat-dialog-content>
  <form #addDMForm="ngForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Participants</mat-label>
      <mat-select multiple [(ngModel)]="dm.directChannelMembers" name="userID" required>
        <ng-container *ngFor="let user of Data.users$ | async">
          <mat-option
            *ngIf="user.userID != loggedInUserID"
            [value]="user.userID"
          >
            {{ user.userName }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    mat-dialog-close
    [disabled]="!addDMForm.valid"
    (click)="saveDirectChannel()"
  >
    Save
  </button>
</mat-dialog-actions>
