@use '../../styles/mixins' as mix; //also imports _variables.scss

mat-dialog-content{
    margin-top: 22px;
}

h2 {
      margin-bottom: 0em!important;
}

p{
    color: mix.$accent-color;
    max-width: 300px;
}