<editor
  [(ngModel)]="userInput"
  [init]="{
    height: '20vh',
    plugins: 'lists link image table code help wordcount emoticons',
    base_url: '/tinymce',
    suffix: '.min',
    menubar: false,
    statusbar: false,
    toolbar:
      'undo redo | styles | emoticons | bold italic underline | blockquote | aligning lists | link image',
    toolbar_groups: {
      aligning: {
        icon: 'align-left',
        tooltip: 'Aligning',
        items: 'alignleft aligncenter alignright alignjustify'
      },
      lists: {
        icon: 'unordered-list',
        tooltip: 'Lists',
        items: 'bullist numlist'
      }
    },
    formats: {
      code: {
        inline: 'code',
        styles: {
          color: '#e01e5a',
          backgroundColor: '#eee',
          border: '1px solid #ddd'
        }
      },
      pre: {
        block: 'pre',
        styles: {
          backgroundColor: '#eee',
          borderRadius: '5px',
          border: '1px solid #ddd',
          padding: '5px'
        }
      }
    },
    style_formats_merge: true
  }"
></editor>

<div class="footer">
  <span *ngIf="!!file" class="infoUploadedFile"
    >Attachments: {{ file?.name }}</span
  >
  <span *ngIf="!!file && !!uploadProgress" class="uploadProgress"
    >Upload: {{ uploadProgress }}%</span
  >
  <mat-icon
    class="icon icon-ImageUpload"
    aria-hidden="false"
    aria-label="insert_photo"
  >
    insert_photo
    <input type="file" (change)="getUploadFile($event)" accept="*.jpg.png" />
  </mat-icon>

  <mat-icon
    class="icon"
    (click)="handleUserInput()"
    aria-hidden="false"
    aria-label="send-icon"
    >send</mat-icon
  >
</div>
