@use "../../styles/mixins" as mix; //also imports _variables.scss

:host {
    @include mix.flex(flex-start, center, column, 8px);
    padding: mix.$padding-medium;
    background-color: rgb(219, 41, 41);
    width: 90%;
}

.toolbar{
    @include mix.flex(flex-start, center, row, 12px);
    width: 100%;

}

textarea{
    width: 100%;
    resize: none;
    overflow-y: auto;
}

.footer{
    @include mix.flex(flex-end, center);
    width: 100%;
}