@use "../../styles/mixins" as mix; //also imports _variables.scss

:host {
    @include mix.flex(flex-start, center, column, 8px);
    width: 90%;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.toolbar {
    @include mix.flex(flex-start, center, row, 12px);
    width: 100%;
    padding: mix.$padding-medium;
    background: rgba(106, 104, 104, 0.077);
}

/* textarea {
    width: 100%;
    padding: mix.$padding-medium;
    height: fit-content;
    max-height: 50vh;
    resize: none;
    outline: none;
    border: none;
    background: none;
} */

.textarea {
    width: 100%;
    height: 100%;
    padding: mix.$padding-medium mix.$padding-medium 0 mix.$padding-medium;
    max-height: 50vh;
    outline: none;
}

.placeholder{
    display: block;
    width: 100%;
    height: 100%;
    color: rgba(128, 128, 128, 0.766);
    font-size: 14px;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

::placeholder{
    color: rgba(128, 128, 128, 0.766);
    font-size: 14px;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.footer {
    @include mix.flex(flex-end, center);
    width: 100%;
    padding: mix.$padding-medium;
}

button{
    background: none;
    height: 24px;
    border: none;
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;

    &:hover{
        background: lightgrey;
    }
}

mat-icon {
    font-size: 20px;
    opacity: 0.8;
    margin-right: 8px;
    cursor: pointer;
    transition: all 150ms ease-in-out;

    &:hover {
        opacity: 0.6;
    }
}




    .icon-ImageUpload{
        position: relative;
        cursor: pointer;

        input{
            position: absolute;
            left: 50%;
            bottom: 0%;
            transform: translate(-50%);
            opacity: 0;
            z-index: 10;
        }
    }

