<editor [(ngModel)]="userInput" [init]="editor.editorConfig"></editor>

<div class="footer">

  <ng-container *ngFor="let file of messageFiles; index as i">
    <span *ngIf="!!file" class="infoUploadedFile">Attachments: {{ file?.name }}
    </span>
    <mat-icon class="icon" (click)="deleteFile(i)" aria-hidden="false" aria-label="send-icon">delete</mat-icon>

    <!-- <span *ngIf="!!file && !!uploadProgress" class="uploadProgress">Upload: {{ uploadProgress }}%</span> -->
  </ng-container>

  <mat-icon class="icon icon-ImageUpload" aria-hidden="false" aria-label="insert_photo">
    insert_photo
    <input type="file" multiple (change)="getUploadFile($event)" accept="*.jpg.png" />
  </mat-icon>

  <mat-icon class="icon" (click)="handleUserInput()" aria-hidden="false" aria-label="send-icon">send</mat-icon>
</div>