@use '../styles/variables' as var;
@use '../styles/mixins' as mix;

mat-sidenav {
    height: calc(100vh - 64px);
    overflow: hidden;
    padding: var.$padding-main;
}


mat-sidenav-content {
    @include mix.flex();
    height: calc(100vh - 64px);
}


router-outlet {
    flex: 1;
}

app-threads {
    width: 25vw;
}