<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container  [hasBackdrop]="mobileQuery.matches">
  <mat-sidenav mode="side" #sidenav 
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [opened]="!mobileQuery.matches">
    <div 
      (click)="mobileQuery.matches?sidenav.toggle():null">
      <app-channel-list [mobile]="mobileQuery.matches"></app-channel-list>
      <app-direct-msg-list></app-direct-msg-list>
      Impressum
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="outlet">
      <router-outlet> </router-outlet>
    </div>
    <app-threads>threads</app-threads>
  </mat-sidenav-content>
</mat-sidenav-container>
