@use "../styles/mixins" as mix; //also imports _variables.scss

// new Avatar (manual build)

.avatar{
    position: relative;
    @include mix.flex(center, center);

    img{
        width: 44px;
        height: 44px;
        border-radius: 50%;
    }
}

.userMenu{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0%, 100%);
    padding: 8px;
    border-radius: 8px;
    background-color:white;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;


    .userActions{
        @include mix.flex(space-evenly, center, column, 4px);

        button{
            @include mix.flex(space-evenly, center);
            width: 100%;
            border: none;
            background-color:white;
            cursor: pointer;
            color: black;
    
            &:hover{
                opacity: 0.7;
            }
        }

        button:last-child{
            &:hover{
                background-color: rgb(255, 129, 129); 
                opacity: 1;
                color: white;
            }
            
            &::after{
                position: absolute;
                top: 0px;
                left: 50%;
                transform: translate(-50%);
                content: '';
                width: 85%;
                height: 1px;
                background-color: lightgrey;
            }
        }
    }

    .userInfo{
        position: relative;
        @include mix.flex(center, center,column); 

        // &::after{
        //     position: absolute;
        //     bottom: 4px;
        //     left: 50%;
        //     transform: translate(-50%);
        //     content: '';
        //     width: 85%;
        //     height: 1px;
        //     background-color: lightgrey;
        // }

        span:first-child{
            font-size: 16px;
            color: black;
            line-height: 1.4em!important;
        }

        span:last-child{
            position: relative;
            margin-bottom: 12px;
            font-size: 12px;
            font-style: italic;
            color: black;
            line-height: 1.4em!important;
        }
    }
}




mat-toolbar {
    @include mix.flex($justify: space-between, $align: center);

    .left-part {
        @include mix.flex($align: center);

        a {
            text-decoration: none;
            color: white;
        }
    }

    .avatar-with-btn {
        position: relative;
        height: 100%;
        @include mix.flex($align: center);
        // min-width: 52px;
        padding-left: 36px;

        .edit-btn {
            position: absolute;
            width: 24px;
            height: 24px;
            top: -4px;
            left: 20px;
            visibility: hidden;
        }

        .edit-icon {
            font-size: 16px;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            z-index: -1;
        }

        &:hover {
            .edit-btn {
                visibility: visible;
            }
        }
    }
}

// mat-sidenav {
//     // need to give the z-index a value to make fullscreen-images work
//     // otherwise navbar will always be on top
//     // z-index: 3 !important;
// }

mat-sidenav {
    height: calc(100vh - 54px - 73px);
    // min-width: 200px;
    // max-width: min(25vw,250px) ;
    width: 251px; // 1px border-right from material
    overflow: auto;
    background-color: mix.$primary-color;
    color: white;

    @media screen and (max-width: 350px) {
        width: 100%;
    }
    }

    .sidenav-wrapper {
        height: 100%;
        @include mix.flex($dir: column, $justify: space-between);
    }

    .legal-list {
        position: fixed;
        bottom: 0;
        left: 0;
        border-right: 1px solid mix.$primary-color;
        background-color: mix.$primary-color;
        @include mix.flex($dir: column);
        font-size: 14px;
        padding-bottom: mix.$padding-main;

        @media screen and (max-width: 350px) {
            width: 100%;
        }

        a {
            padding: mix.$padding-small mix.$padding-main;
            width: 250px;

            &:hover {
                background-color: mix.$primary-hover;
            }
        }
    }



.mat-drawer-content {
    overflow: unset;
}

mat-sidenav-content {
    @include mix.flex();
    height: calc(100vh - 64px);
    z-index: unset !important;
}

.outlet-main {
    flex: 1;
}