@use '../styles/mixins' as mix; //also imports _variables.scss

mat-toolbar a{
    text-decoration: none;
    color:white;
}

mat-sidenav {
    height: calc(100vh - 64px);
    // min-width: 220px;
    overflow: auto;
    background-color: mix.$primary-color ;
    color: white;

    .sidenav-wrapper {
        height:100%;
        @include mix.flex($dir: column, $justify: space-between);
    }

    .legal-list {
        @include mix.flex($dir: column);
        font-size: 14px;
        padding-bottom:mix.$padding-main;

        a {
            padding: mix.$padding-small mix.$padding-main;
            width: 100%;

            &:hover {
                background-color: mix.$primary-hover;
            }
        }
    }
}



mat-sidenav-content {
    @include mix.flex();
    height: calc(100vh - 64px);
}


.outlet-main {
    flex: 1;
}


.outlet-thread {
    width: 25vw;
}

app-threads {
    width: 25vw;
}