<div class="head">
  <div class="title-container">
    <span class="threadTitle">Thread</span>
    <span class="threadDescription" [innerHTML]="Data.currentChannel.name"></span>
  </div>
  <div class="icon" (click)="closeThreadContainer()">
    <mat-icon class="close-icon">close</mat-icon>
  </div>
  <!-- {{ currentChannel.directChannelMembers ? currentChannel.directChannelMembers : currentChannel.channelName }} -->
</div>
<div class="messagesContainer">
  <app-message *ngIf="Data.currentThread.firstMessageID == 'deleted'" [firstAnswerMessage]="true" [thread]="Data.currentThread" [parentContainer]="'threadContainer'"></app-message>
  <div
    class="message"
    *ngFor="let message of Data.currentMessages$ | async; index as i; trackBy: getTrackByCondition"
  >
    <app-message-actions *ngIf="userHasEditRights(message)" [actionsType]="'messageActions'" [message]="message" [thread]="Data.currentThread"></app-message-actions>

    <app-message [firstAnswerMessage]="i == 0 && Data.currentThread.firstMessageID != 'deleted'" [message]="message" [thread]="Data.currentThread"></app-message>
  </div>
</div>
<app-inputbox [messageType]="'answerMessage'"></app-inputbox>
