@use "../../styles/_mixins.scss" as mix;

:host {
  @include mix.flex(flex-start, center, column);
  width: 30%;
  min-width: 300px;
  position: relative;
  height: calc(100vh - 64px);
}

.head {
  @include mix.flex(space-between, center, row, 5vw);
  padding: mix.$padding-medium 5%;
  width: 100%;
  min-height: 60px;
  border-bottom: 1px solid #e0e0e0;

  .title-container{
  @include mix.flex(flex-start, flex-start, column);
  }

  .icon{
    border-radius: 5px;
  }

  .threadTitle {
    font-weight: bold;
    font-size: 20px;
  }
}

.messagesContainer {
  flex: 1;
  width: 90%;
  overflow-y: auto;
  padding: 16px 0;
}

.message {
  position: relative;

  &:hover {
    background-color: rgba(106, 104, 104, 0.1);
  }

  &:hover app-message-actions{
    display: flex !important;
}
}
