<div class="head">
  <div class="title-container">
    <span class="threadTitle">Thread</span>
    <span class="threadDescription">{{ getThreadDescription() }}</span>
  </div>
  <div class="icon" (click)="closeThreadContainer()">
    <mat-icon class="close-icon">close</mat-icon>
  </div>
  <!-- {{ currentChannel.directChannelMembers ? currentChannel.directChannelMembers : currentChannel.channelName }} -->
</div>
<div class="messagesContainer">
  <div
    class="message"
    *ngFor="let message of Data.currentMessages$ | async; index as i"
  >
    <app-message-actions [actionsType]="'messageactions'"></app-message-actions>

    <app-message [currentMessage]="message"></app-message>
  </div>
</div>
<app-inputbox [messageType]="'answerMessage'"></app-inputbox>
