<div class="impressum">
  <h2>Impressum</h2>
  <br />
  <p>Angaben gemäß § 5 TMG</p>
  <p>
    Sabine Detering <br />
    Heideweg 14a <br />
    76149 Karlsruhe <br />
  </p>
  <br />
  <p>
    <strong>Vertreten durch: </strong><br />
    Anna Ludewig<br />
    Vilia Zeisig
  </p>
  <br />
  <p>
    <strong>Kontakt:</strong> <br />
    Telefon: 0152-5345 8810<br />
    E-Mail: <a href="mailto:sabine.detering@web.de">sabine.detering@web.de</a>
  </p>
  <br />

  Impressum vom
  <a href="https://www.impressum-generator.de">Impressum Generator</a> der
  <a href="https://www.kanzlei-hasselbach.de/"
    >Kanzlei Hasselbach, Rechtsanwälte für Arbeitsrecht und Familienrecht</a
  >
</div>
