<div class="channel-container">
  <div class="channel-header" (click)="toggleChannels($event)">
    <mat-icon>{{ channelsOpen ? "arrow_drop_down" : "arrow_right" }}</mat-icon>
    <h3>Channel</h3>
    <button
      mat-icon-button
      title="Add new channel"
      class="add-btn"
      (click)="openAddChannelDialog($event)"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-nav-list *ngIf="channelsOpen" class="channel-list">
    <div class="channel-list-item"
      *ngFor="let channel of Data.channels$ | async | orderBy: 'channelName'"
    >
      <a list-item [routerLink]="['/channel/' + channel.channelID]" (click)="setCurrentChannel(channel)">
        # {{ channel.channelName }}
      </a>
      <button
        mat-icon-button
        title="More"
        class="more-btn"
      >
        <mat-icon> more_vert</mat-icon>
      </button>
    </div>
  </mat-nav-list>
</div>
