<div class="channel-container">
  <div class="channel-header" (click)="toggleChannels($event)">
    <div class="channel-header-left">
      <mat-icon>{{
        channelsOpen ? "arrow_drop_down" : "arrow_right"
      }}</mat-icon>
      <h3>Channel</h3>
    </div>
    <button
      mat-icon-button
      title="Add new channel"
      class="add-btn"
      (click)="openChannelDialog();$event.stopPropagation()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-nav-list *ngIf="channelsOpen" class="channel-list">
    <a
      list-item
      [routerLink]="['/channel/' + channel.channelID]"
      (click)="setCurrentChannel(channel)"
      class="channel-list-item"
      *ngFor="let channel of Data.channels$ | async | orderBy: 'channelName'"
    >
      <div class="left-part">
        <span class="icon"># </span>
        <span>{{ channel.channelName }}</span>
      </div>
      <button
        mat-icon-button
        title="More"
        class="more-btn"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon> more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openChannelDialog(channel)">Edit</button>
      </mat-menu>
    </a>
  </mat-nav-list>
</div>
