<div class="channel-container">
  <div class="channel-header" (click)="toggleChannels($event)">
    <mat-icon>{{ channelsOpen ? "arrow_drop_down" : "arrow_right" }}</mat-icon>
    <h3>Channel</h3>
    <button
      mat-icon-button
      title="Add new channel"
      class="add-btn"
      (click)="openAddChannelDialog($event)"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-nav-list *ngIf="channelsOpen" class="channel-list">
    <a
      list-item
      *ngFor="let channel of Data.channels$ | async| orderBy:'channelName'"
      [routerLink]="['/channel/' + channel.channelID]"
    >
      # {{ channel.channelName }}
    </a>
  </mat-nav-list>
</div>
