@use '../../styles/mixins' as mix; //also imports _variables.scss

:host {
    width: 250px;
}

.channel-header {
    @include mix.flex(space-between, center);
    padding: mix.$padding-main 10px 0 mix.$padding-main;
    width: 250px;
    cursor: pointer;

    .channel-header-left {
        @include mix.flex();
    }

    .add-btn {
        visibility: hidden;
    }

    &:hover {
        background-color: mix.$primary-hover;

        .add-btn {
            visibility: visible;
        }
    }
}

.channel-list {
    padding-bottom: mix.$padding-main ;
    @include mix.flex($dir: column);

    .channel-list-item {
        padding-left: mix.$padding-main;
        padding-right: 10px;
        width: 250px;
        @include mix.flex($justify: space-between, $align: center);

        .left-part {
            @include mix.flex($align: center, $gap: 8px);
            // width: 100%;

            .hash {
                width: 32px;
                min-width: 32px;
                text-align: right;
            }

            .name {
                max-width: calc(250px - 16px - 40px - 40px - 10px);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .more-btn {
            visibility: hidden;
        }

        &:hover {
            background-color: mix.$primary-hover;

            .more-btn {
                visibility: visible;
            }
        }
    }
}