<div class="message-container">
  <img
    *ngIf="!!messageAuthorAvatar; else loadingSpinner"
    class="img-avatar"
    src="{{ messageAuthorAvatar }}"
    alt="author"
  />
  <ng-template #loadingSpinner>
    <div class="loadingSpinnerContainer">
      <span class="loadingSpinner-dot">.</span>
      <span class="loadingSpinner-dot">.</span>
      <span class="loadingSpinner-dot">.</span>
    </div>
  </ng-template>

  <div class="mainContainer" *ngIf="message">
    <div>
      <span class="author">{{ messageAuthorName }}</span>
      <span class="timestamp">{{
        (date | date: "medium") || "unknown date"
      }}</span>
    </div>

    <div
      *ngIf="editor.messageToEdit?.messageID != message.messageID || isDeleted"
      [innerHTML]="message.messageText"
      class="message-text"
    ></div>

    <img
      #thumbnail
      class="img-thumbnail"
      (click)="fullsizeOpen = true; fullsize.src = image"
      *ngFor="let image of message.images; index as i"
      src="{{ image }}"
    />
  </div>
</div>

<app-inputbox [ngClass]="parentContainer == 'main' ? 'main-msg-input' : 'thread-msg-input'"
*ngIf="
  message &&
  editor.messageToEdit?.messageID == message.messageID &&
  !isDeleted
"
[editMessage]="message"
></app-inputbox>

<div *ngIf="firstAnswerMessage" class="first-message-separator">
  <span>{{ Data.currentThread.answerAmount }} Answers</span>
  <hr />
</div>

<div
  #fullsizeContainer
  [class.d-none]="!fullsizeOpen"
  class="fullsize-container d-none"
>
  <img class="img-fullsize" src="" alt="fullsize" #fullsize />
  <div class="icon" (click)="fullsizeOpen = false">
    <mat-icon class="close-icon">close</mat-icon>
  </div>
</div>

<!-- INFO *** INPUTBOX ***
        @Input() Variable tranfsferring current Message from message-comp to inputbox
        @Output() Variable sends back Event,when edited message is saved to trigger hide inputbox -->
