<img class="img-avatar" src="assets/img/user-femaleAvatar.png" alt="author">

<div class="mainContainer" *ngIf="message">
    <div>
        <!-- <span class="author">Vilia Zeisig (Platzhalter)</span> -->
        <span class="author">{{ messageAuthorName }}</span>
        <span class="timestamp">{{ date | date:'medium' }}</span>
    </div>
    <p>{{ message.messageText }}</p>
    <img #thumbnail class="img-thumbnail" (click)="fullsizeOpen=true; fullsize.src = image;" *ngFor="let image of message.images; index as i" src="{{image}}">
    <!-- consider emojis here-->
</div>

<div #fullsizeContainer [class.d-none]="!fullsizeOpen" class="fullsize-container  d-none">
    <img class="img-fullsize"  src="" alt="fullsize"  #fullsize>
    <div class="closeFullsize" (click)="fullsizeOpen=false">x</div>
</div>

