<img *ngIf="!!message" class="img-avatar" src="{{messageAuthorAvatar || 'assets/img/avatar-neutral.png' }}" alt="author">

<div class="mainContainer" *ngIf="message">
    <div>
        <span class="author">{{ messageAuthorName }}</span>
        <span class="timestamp">{{ (date | date:'medium') || 'unknown date'}}</span>
    </div>
    <p [innerHTML]="message.messageText"></p>
    <img #thumbnail class="img-thumbnail" (click)="fullsizeOpen=true; fullsize.src = image;" *ngFor="let image of message.images; index as i" src="{{image}}">
    <!-- consider emojis here-->
</div>

<div #fullsizeContainer [class.d-none]="!fullsizeOpen" class="fullsize-container  d-none">
    <img class="img-fullsize"  src="" alt="fullsize"  #fullsize>
    <div class="closeFullsize" (click)="fullsizeOpen=false">x</div>
</div>

