<div class="icon-container">
  <!--[routerLink]="['thread/'+currentThreadId]"  -->
  <!-- [routerLink]="[{outlets: {thread: ['/thread/' + currentThreadId]}}]" -->
  <button
    class="icon"
    *ngIf="actionsType == 'threadActions'"
    (click)="answerInThread()"
  >
    <mat-icon aria-hidden="false" aria-label="answer-icon"
      >question_answer</mat-icon
    >
  </button>
  <button
    class="icon"
    (click)="deleteMessage()"
  >
    <mat-icon aria-hidden="false" aria-label="delete">delete</mat-icon>
  </button>
</div>
