@use '../../styles/mixins' as mix; //also imports _variables.scss

:host{
@include mix.flex(center, center);    
padding: mix.$padding-medium;
position: absolute;
top: 10px;
right: 20px;
/* width: 150px; */
height: 40px;
background-color: #fff;
border-radius: 8px;
border: 1px solid #e0e0e0;
}

.icon-container{
 @include mix.flex(center, center);    
 padding: 4px;
 &:hover{
  background-color: rgba(106, 104, 104, 0.1);
 } 

}

mat-icon{
 cursor: pointer;


}