<div class="channel-container">
  <div class="channel-header" (click)="toggleDirectChannels($event)">
    <div class="channel-header-left">
      <mat-icon
        >{{ directChannelsOpen ? "arrow_drop_down" : "arrow_right" }}
      </mat-icon>
      <h3>Direct Messages</h3>
    </div>
    <button
      mat-icon-button
      title="Add new chat"
      class="add-btn"
      [class.touch]="touchScreen"
      (click)="openAddDirectChannelDialog($event)"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-nav-list *ngIf="directChannelsOpen" class="direct-channel-list">
    <ng-container
      *ngFor="
        let directChannel of directChannels | orderBy: 'directChannelName'
      "
    >
      <a
        [routerLink]="['/channel']"
        [class.current-channel]="
          Data.currentChannel &&
          directChannel.directChannelID == Data.currentChannel.id
        "
        list-item
        class="direct-channel-list-item"
        (click)="setCurrentDirectChannel(directChannel)"
      >
        <div class="left-part">
          <div class="avatar-with-number">
            <img [src]="directChannel.directChannelAvatar" />
            <div class="number">
              {{ (directChannel.directChannelMembers | countElementsExcluding:'0') -1}}
            </div>
          </div>
          <span class="name" [title]="getTitle(directChannel.directChannelName)" [innerHTML]="directChannel.directChannelName"></span
          >
        </div>
        <ng-container *ngIf="directChannel.directChannelAllowDelete">
          <button
            mat-icon-button
            title="More"
            class="more-btn"
            [class.touch]="touchScreen"
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation(); (false)"
          >
            <mat-icon> more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDeleteConfirmation(directChannel)">
              Delete
            </button>
          </mat-menu></ng-container
        >
      </a>
    </ng-container>
  </mat-nav-list>
</div>
