<div class="channel-container">
  <div class="channel-header" (click)="toggleDirectChannels($event)">
    <div class="channel-header-left">
      <mat-icon
        >{{ directChannelsOpen ? "arrow_drop_down" : "arrow_right" }}
      </mat-icon>
      <h3>Direct Messages</h3>
    </div>
    <button
      mat-icon-button
      title="Add new chat"
      class="add-btn"
      [class.touch]="touchScreen"
      (click)="openAddDirectChannelDialog($event)"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-nav-list *ngIf="directChannelsOpen" class="direct-channel-list">
    <ng-container
      *ngFor="
        let directChannel of directChannels | orderBy: 'directChannelName'
      "
    >
      <a [routerLink]="['/channel']" list-item class="direct-channel-list-item">
        <div class="left-part" (click)="setCurrentDirectChannel(directChannel)">
          <div class="avatar-with-number">
            <img [src]="directChannel.directChannelAvatar" />
            <div class="number">
              {{ directChannel.directChannelMembers.length - 1 }}
            </div>
          </div>
          <span class="name" [title]="directChannel.directChannelName">
            {{ directChannel.directChannelName }}</span
          >
        </div>
             </a>
    </ng-container>
  </mat-nav-list>
</div>
