<div class="channel-container">
  <div class="channel-header" (click)="toggleDirectChannels($event)">
    <div class="channel-header-left">
      <mat-icon
        >{{ directChannelsOpen ? "arrow_drop_down" : "arrow_right" }}
      </mat-icon>
      <h3>Direct Messages</h3>
    </div>
    <button
      mat-icon-button
      title="Add new chat"
      class="add-btn"
      (click)="openAddDirectChannelDialog($event)"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-nav-list *ngIf="directChannelsOpen" class="direct-channel-list">
    <ng-container
      *ngFor="
        let directChannel of directChannels | orderBy: 'directChannelName'
      "
    >
      <!-- [routerLink]="['/direct-channel/' + directChannel.directChannelID]" -->
      <a
        [routerLink]="['/channel']"
        list-item
        *ngIf="directChannel.directChannelMembers.includes(Auth.currentUserId)"
        class="direct-channel-list-item"
        (click)="setCurrentDirectChannel(directChannel)"
      >
        <div class="left-part">
          <div class="avatar-with-number">
            <!-- would be nice to show avatar of first participant -->
            <img [src]="directChannel.directChannelAvatar" />
            <div class="number">
              {{ directChannel.directChannelMembers.length - 1 }}
            </div>
          </div>
          <span class="name" [title]="directChannel.directChannelName">
            {{ directChannel.directChannelName }}</span
          >
        </div>
        <button mat-icon-button title="More" class="more-btn">
          <mat-icon> more_vert</mat-icon>
        </button>
      </a>
    </ng-container>
  </mat-nav-list>
</div>
