@use '../../styles/mixins' as mix; //also imports _variables.scss


.direct-channel-header {
    @include mix.flex(space-between, center);
    padding: mix.$padding-main mix.$padding-main 0 mix.$padding-main;
    width: 100%;
    cursor: pointer;

    .add-btn {
        visibility: hidden;
    }

    &:hover {
        background-color: mix.$primary-hover;

        .add-btn {
            visibility: visible;
        }
    }
}

.direct-channel-list {
    padding-bottom: mix.$padding-main ;
    @include mix.flex($dir: column);

    .direct-channel-list-item {
        padding-left: mix.$padding-main;
        width: 100%;
        @include mix.flex($justify: space-between, $align: center);

        .more-btn {
            visibility: hidden;
        }

        &:hover {
            background-color: mix.$primary-hover;

            .more-btn {
                visibility: visible;
            }
        }
    }
}